<div class="main-container">
    <r-header (evt)="endMapMode()"></r-header>
    <div class="list-container" [ngClass]="{'map-mode':inMapMode}">
        <div *ngFor="let r of restaurants" class="r-item ripple" [ngStyle]="{'background': '#fff url(' + r.backgroundImageURL + ') no-repeat 0 0'}" (click)="mapRestaurant(r)">
            <img src="../../assets/img/cellGradientBackground@2x.png" class="gradient"/>
            <div class="r-item-text-container">
                <div class="r-item-header">
                    {{r.name}}
                </div>
                <div class="r-item-category">
                    {{r.category}}
                </div>
            </div>
        </div>
    </div>
    <div class="map-container" [ngClass]="{'selected':doSlide, 'map-mode':inMapMode}">
        <!-- <div class="map-container" [hidden]="!inMapMode || (inWebMode && !showMap)"> -->
        <div id="map"></div>
        <div class="restaurant-info-container">
            <div class="restaurant-info" *ngIf="selectedRestaurant.category!=undefined">
                <div class="text">
                    <div class="name">
                        {{selectedRestaurant.name}}
                    </div>
                    <div class="category">
                        {{selectedRestaurant.category}}
                    </div>
                </div>
            </div>
            <div class="restaurant-detail" *ngIf="selectedRestaurant.location!=undefined">
                <div class="text">
                    <div class="address">
                        {{selectedRestaurant.location.address}}
                    </div>
                    <div class="city-state">
                        {{selectedRestaurant.location.city}}, {{selectedRestaurant.location.state}} {{selectedRestaurant.location.postalCode}}
                    </div>
                    <div *ngIf="selectedRestaurant.contact!=undefined">
                        <div class="phone">
                            {{selectedRestaurant.contact.formattedPhone}}
                        </div>
                        <div class="handle" *ngIf="selectedRestaurant.contact.twitter!=undefined">
                            @{{selectedRestaurant.contact.twitter}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <r-footer></r-footer>
</div>
